.left {
    background-color: rgb(113, 201, 248);
    /*height: 100%;*/
    /*width : 50%;*/
    /*top : -48%;*/
    /*align-self: center;*/
    /*padding: 108px 92px;*/
}

.left_in {
    padding-bottom: 15px;
    padding-top: 15px;
}

.box {
    margin-bottom: 40px;
    align-self: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.img {
    font-size: 23px;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    vertical-align: text-bottom;
    position: relative;
    max-width: 100%;
    height: 1.25em;
    fill: currentcolor;
    display: inline-block;
    overflow: hidden;
}

.word {
    margin-left: 15px;
    line-height: 30px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    min-width: 0px;
}