{% extends 'base_blog.html' %}

{% block contents %}
    <div class="container">
        <h1>Sign up!</h1>
        {# 보안을 위해 써주는 난수발생기, csrf(사이트간 요청 위조) 공격을 막는 방법, POST 방식으로 정보를 보낼 때 csrf_token을 써준다 #}
        <form method="POST" action="{% url 'signup' %}"> {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" value="">
            <br>
            Password:
            <br>
            <input name="password1" type="password" value="">
            <br>
            Confirm Password:
            <br>
            <input name="password2" type="password" value="">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Sign up!">
        </form>
    </div>
{% endblock %}